In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("C:/Users/Milad/Advanced BA/MyProject/Data/Site_locations/site.csv")

In [20]:
df

,SITE_ID,SITE_NUM,SITE_NAME,ACTIVE,INACTIVE,AGENCY,STATE,COUNTY,TIME_ZONE,LATITUDE,LONGITUDE,ELEVATION,MAPID,LAND_USE,TERRAIN,MLM,NADP_ID,NADP_DISTANCE,UPDATE_DATE
0,ABT147,147,Abington,domp,w,EPA,CT,Windham,EA,41.840460,-72.010368,202.0,"Hampton, CT",Urban/Agric,Rolling,Mixed,CT15,0.056,2020-01-30 13:25:29
1,ACA416,416,Acadia NP,dom,NaN,NPS,ME,Hancock,EA,44.377086,-68.260800,158.0,NaN,Forest,Rolling,Mixed,ME98,0.013,2020-01-30 13:25:29
2,ALC188,188,Alabama-Coushatta Tribe of Texas,dom,NaN,EPA,TX,Polk,CE,30.701577,-94.674011,105.0,NaN,Prairie,Rolling,Yes,TX10,191.334,2020-01-30 13:25:29
3,ALH157,157,Alhambra,domp,w,EPA,IL,Madison,CE,38.869001,-89.622815,164.0,"Pocohantas, IL",Agric,Flat,Yes,IL46,0.080,2020-01-30 13:25:29
4,ALH257,257,Alhambra Collocated,NaN,domw,EPA,IL,Madison,CE,38.869001,-89.622815,164.0,NaN,Agric,Flat,Yes,IL46,0.080,2020-01-30 13:25:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,WST109,109,Woodstock,dom,NaN,EPA,NH,Grafton,EA,43.944519,-71.700787,255.0,"Woodstock, NH",Forest,Complex,No,NH02,0.217,2020-01-30 13:25:29
151,YEL408,408,Yellowstone NP,dom,NaN,NPS,WY,Teton,MO,44.565356,-110.400338,2430.0,NaN,Agric,Rolling,No,WY08,39.065,2020-01-30 13:25:29
152,YOS204,204,Yosemite NP Collocated,NaN,o,NPS,CA,Mariposa,PA,37.713300,-119.706100,1605.0,NaN,Forest,Complex,No,CA99,16.244,2020-01-30 13:25:29
153,YOS404,404,Yosemite NP - Turtleback Dome,dom,NaN,NPS,CA,Mariposa,PA,37.713251,-119.706196,1605.0,NaN,Forest,Complex,No,CA99,16.241,2020-01-30 13:25:29
154,ZIO433,433,Zion NP - Dalton's Wash,om,NaN,NPS,UT,Washington,MO,37.198300,-113.150600,1213.0,NaN,Desert,Complex,No,UT99,98.335,2021-01-02 07:37:09

In [21]:
df = df.drop(['SITE_NUM', 'ACTIVE', 'INACTIVE', 'AGENCY', 'TIME_ZONE', 'ELEVATION', 'LAND_USE', 'TERRAIN', 'MLM', 'NADP_ID', 'NADP_DISTANCE', 'UPDATE_DATE'], axis=1)

In [22]:
df

,SITE_ID,SITE_NAME,STATE,COUNTY,LATITUDE,LONGITUDE,MAPID
0,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT"
1,ACA416,Acadia NP,ME,Hancock,44.377086,-68.260800,NaN
2,ALC188,Alabama-Coushatta Tribe of Texas,TX,Polk,30.701577,-94.674011,NaN
3,ALH157,Alhambra,IL,Madison,38.869001,-89.622815,"Pocohantas, IL"
4,ALH257,Alhambra Collocated,IL,Madison,38.869001,-89.622815,NaN
...,...,...,...,...,...,...,...
150,WST109,Woodstock,NH,Grafton,43.944519,-71.700787,"Woodstock, NH"
151,YEL408,Yellowstone NP,WY,Teton,44.565356,-110.400338,NaN
152,YOS204,Yosemite NP Collocated,CA,Mariposa,37.713300,-119.706100,NaN
153,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN
154,ZIO433,Zion NP - Dalton's Wash,UT,Washington,37.198300,-113.150600,NaN

In [6]:
pol_df = pd.read_csv("C:/Users/Milad/Advanced BA/MyProject/Data/Total Deposition by Pollutant - Annual .csv")

In [7]:
pol_df

,SITE_ID,YEAR,PRECIP,N_WET_NH4,N_WET_NO3,N_WET,N_DRY_HNO3,N_DRY_NO3,N_DRY_TNO3,N_DRY_NH4,...,MG_TOTAL,K_DRY,K_WET,K_TOTAL,CA_DRY,CA_WET,CA_TOTAL,CL_DRY,CL_WET,CL_TOTAL
0,SND152,2001.0,131.225,2.506,2.165,4.672,4.173,0.286,4.460,0.398,...,0.269,0.060,0.551,0.611,0.184,0.866,1.050,0.106,2.245,2.351
1,SND152,2003.0,148.406,2.503,2.717,5.219,3.591,0.209,3.799,0.341,...,0.298,0.050,0.584,0.635,0.149,1.403,1.552,0.106,2.783,2.889
2,SND152,2004.0,167.184,2.365,2.079,4.444,3.358,0.148,3.506,0.317,...,0.259,0.050,0.318,0.368,0.135,0.903,1.038,0.097,2.542,2.639
3,SND152,2005.0,122.064,3.327,2.196,5.522,3.422,0.214,3.636,0.403,...,0.316,0.056,0.854,0.910,0.168,1.220,1.389,0.057,2.550,2.607
4,SND152,2006.0,119.529,3.731,2.296,6.028,3.497,0.222,3.719,0.372,...,0.363,0.055,1.206,1.261,0.187,1.637,1.825,0.078,2.533,2.611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,DEN417,2016.0,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,...,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000
2196,DEN417,2017.0,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,...,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000
2197,DEN417,2018.0,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,...,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000
2198,DEN417,2019.0,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,...,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000
2199,DEN417,2020.0,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,...,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000

In [8]:
a=list(df['SITE_ID'].unique())

In [9]:
b=list(pol_df['SITE_ID'].unique())

In [10]:
common_list = list(set(a).intersection(b))

In [11]:
df = df[df['SITE_ID'].isin(common_list)]
df

,SITE_ID,SITE_NAME,STATE,COUNTY,LATITUDE,LONGITUDE,MAPID
0,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT"
1,ACA416,Acadia NP,ME,Hancock,44.377086,-68.260800,NaN
2,ALC188,Alabama-Coushatta Tribe of Texas,TX,Polk,30.701577,-94.674011,NaN
3,ALH157,Alhambra,IL,Madison,38.869001,-89.622815,"Pocohantas, IL"
6,ANA115,Ann Arbor,MI,Washtenaw,42.416636,-83.902180,"Pinckney, MI"
...,...,...,...,...,...,...,...
146,WNC429,Wind Cave NP,SD,Custer,43.557639,-103.483856,NaN
149,WSP144,Wash. Crossing,NJ,Mercer,40.312303,-74.872663,"Pennington, NJ"
150,WST109,Woodstock,NH,Grafton,43.944519,-71.700787,"Woodstock, NH"
151,YEL408,Yellowstone NP,WY,Teton,44.565356,-110.400338,NaN
153,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN

In [12]:
pollution_df = pd.merge(df, pol_df, on='SITE_ID')
pollution_df

,SITE_ID,SITE_NAME,STATE,COUNTY,LATITUDE,LONGITUDE,MAPID,YEAR,PRECIP,N_WET_NH4,...,MG_TOTAL,K_DRY,K_WET,K_TOTAL,CA_DRY,CA_WET,CA_TOTAL,CL_DRY,CL_WET,CL_TOTAL
0,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2001.0,95.655,1.306,...,0.260,0.040,0.155,0.195,0.120,0.712,0.833,0.157,2.821,2.978
1,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2002.0,114.430,1.749,...,0.289,0.045,0.269,0.314,0.114,0.724,0.838,0.157,2.901,3.058
2,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2003.0,126.995,1.555,...,0.446,0.072,0.191,0.263,0.094,0.660,0.753,0.157,5.942,6.099
3,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2004.0,126.351,1.540,...,0.300,0.043,0.143,0.186,0.091,0.571,0.662,0.224,3.686,3.910
4,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2005.0,137.747,1.217,...,0.651,0.046,0.237,0.283,0.108,0.677,0.784,0.252,9.138,9.390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2016.0,111.357,1.176,...,0.148,0.084,0.135,0.219,0.171,0.438,0.608,0.130,1.004,1.135
2196,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2017.0,169.564,1.305,...,0.159,0.136,0.122,0.259,0.244,0.336,0.579,0.102,1.491,1.594
2197,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2018.0,90.299,1.012,...,0.159,0.220,0.113,0.333,0.488,0.373,0.861,0.095,0.809,0.905
2198,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2019.0,125.660,1.856,...,0.194,0.080,0.227,0.307,0.199,0.547,0.746,0.073,1.799,1.872
2199,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2020.0,48.580,0.761,...,0.118,0.201,0.060,0.261,0.411,0.166,0.577,0.084,0.551,0.635

In [13]:
pollution_df = pollution_df.replace(-9999.000, np.nan)
pollution_df

,SITE_ID,SITE_NAME,STATE,COUNTY,LATITUDE,LONGITUDE,MAPID,YEAR,PRECIP,N_WET_NH4,...,MG_TOTAL,K_DRY,K_WET,K_TOTAL,CA_DRY,CA_WET,CA_TOTAL,CL_DRY,CL_WET,CL_TOTAL
0,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2001.0,95.655,1.306,...,0.260,0.040,0.155,0.195,0.120,0.712,0.833,0.157,2.821,2.978
1,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2002.0,114.430,1.749,...,0.289,0.045,0.269,0.314,0.114,0.724,0.838,0.157,2.901,3.058
2,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2003.0,126.995,1.555,...,0.446,0.072,0.191,0.263,0.094,0.660,0.753,0.157,5.942,6.099
3,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2004.0,126.351,1.540,...,0.300,0.043,0.143,0.186,0.091,0.571,0.662,0.224,3.686,3.910
4,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2005.0,137.747,1.217,...,0.651,0.046,0.237,0.283,0.108,0.677,0.784,0.252,9.138,9.390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2016.0,111.357,1.176,...,0.148,0.084,0.135,0.219,0.171,0.438,0.608,0.130,1.004,1.135
2196,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2017.0,169.564,1.305,...,0.159,0.136,0.122,0.259,0.244,0.336,0.579,0.102,1.491,1.594
2197,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2018.0,90.299,1.012,...,0.159,0.220,0.113,0.333,0.488,0.373,0.861,0.095,0.809,0.905
2198,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2019.0,125.660,1.856,...,0.194,0.080,0.227,0.307,0.199,0.547,0.746,0.073,1.799,1.872
2199,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2020.0,48.580,0.761,...,0.118,0.201,0.060,0.261,0.411,0.166,0.577,0.084,0.551,0.635

In [14]:
import pickle
# with open('pollution_annual_df.pickle', 'wb') as f:
#     pickle.dump(pollution_df, f, protocol=pickle.HIGHEST_PROTOCOL)

In [16]:
pollution_df['YEAR'].unique()

array([2001., 2002., 2003., 2004., 2005., 2006., 2007., 2008., 2009.,
       2010., 2011., 2012., 2013., 2014., 2015., 2016., 2017., 2018.,
       2019., 2020.])

## Run again from top to make 'df' again

In [17]:
season_df = pd.read_csv("C:/Users/Milad/Advanced BA/MyProject/Data/Pollution/Concentration - Seasonal.csv")

In [18]:
season_df

,SITE_ID,YEAR,SEASON,DATEON,DATEOFF,SO2_CONC,SO4_CONC,NO3_CONC,HNO3_CONC,TNO3_CONC,NH4_CONC,CA_CONC,NA_CONC,MG_CONC,K_CONC,CL_CONC
0,SEK402,2000.0,FA,08/29/2000 09:00:00,11/28/2000 08:00:00,0.500,1.142,1.398,1.557,2.930,0.698,0.184,0.119,0.037,0.075,NaN
1,PSU106,2015.0,SU,06/02/2015 09:00:00,09/01/2015 08:00:00,1.274,2.420,0.292,1.093,1.367,0.896,0.242,0.029,0.039,0.075,0.032
2,BEL116,1990.0,WI,11/28/1989 09:00:00,02/27/1990 08:00:00,25.709,4.540,2.053,1.705,3.731,1.976,NaN,NaN,NaN,NaN,NaN
3,FOR605,2019.0,FA,09/03/2019 09:00:00,12/03/2019 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,VPI120,2014.0,WI,12/03/2013 09:00:00,03/04/2014 08:00:00,4.346,1.478,0.569,1.003,1.556,0.558,0.157,0.091,0.021,0.035,0.052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10900,ANA115,2014.0,SU,06/03/2014 09:00:00,09/02/2014 08:00:00,1.026,2.031,0.278,1.131,1.391,0.691,0.258,0.030,0.064,0.091,0.033
10901,WST109,2008.0,FA,09/02/2008 09:00:00,12/02/2008 08:00:00,0.474,1.184,0.140,0.236,0.372,0.420,0.042,0.054,0.011,0.043,0.045
10902,JOT403,2009.0,WI,12/02/2008 09:00:00,03/03/2009 08:00:00,0.249,0.380,0.727,0.808,1.523,0.218,0.126,0.139,0.025,0.030,0.054
10903,BBE401,2015.0,SU,06/02/2015 09:00:00,09/01/2015 08:00:00,0.576,2.336,0.601,0.577,1.168,0.637,0.643,0.265,0.059,0.072,0.042
10904,UND002,2021.0,WI,12/01/2020 09:00:00,03/02/2021 08:00:00,0.312,0.649,0.745,0.331,1.071,0.351,0.098,0.137,0.018,0.034,0.146

In [23]:
a=list(df['SITE_ID'].unique())

In [24]:
c=list(season_df['SITE_ID'].unique())

In [25]:
common_list = list(set(a).intersection(c))

In [26]:
df = df[df['SITE_ID'].isin(common_list)]
df

,SITE_ID,SITE_NAME,STATE,COUNTY,LATITUDE,LONGITUDE,MAPID
0,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT"
1,ACA416,Acadia NP,ME,Hancock,44.377086,-68.260800,NaN
2,ALC188,Alabama-Coushatta Tribe of Texas,TX,Polk,30.701577,-94.674011,NaN
3,ALH157,Alhambra,IL,Madison,38.869001,-89.622815,"Pocohantas, IL"
4,ALH257,Alhambra Collocated,IL,Madison,38.869001,-89.622815,NaN
...,...,...,...,...,...,...,...
148,WPB104,West Point B,NY,Orange,41.350000,-74.050000,"Popolopen Lake, NY"
149,WSP144,Wash. Crossing,NJ,Mercer,40.312303,-74.872663,"Pennington, NJ"
150,WST109,Woodstock,NH,Grafton,43.944519,-71.700787,"Woodstock, NH"
151,YEL408,Yellowstone NP,WY,Teton,44.565356,-110.400338,NaN
153,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN

In [27]:
sea_pol_df = pd.merge(df, season_df, on='SITE_ID')
sea_pol_df = sea_pol_df.replace(-9999.000, np.nan)
sea_pol_df

,SITE_ID,SITE_NAME,STATE,COUNTY,LATITUDE,LONGITUDE,MAPID,YEAR,SEASON,DATEON,...,SO4_CONC,NO3_CONC,HNO3_CONC,TNO3_CONC,NH4_CONC,CA_CONC,NA_CONC,MG_CONC,K_CONC,CL_CONC
0,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2021.0,FA,08/31/2021 09:00:00,...,0.579,0.446,0.381,0.820,0.197,0.105,0.289,0.046,0.063,0.346
1,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",1995.0,SP,02/28/1995 09:00:00,...,2.798,0.711,2.014,2.693,0.944,NaN,NaN,NaN,NaN,NaN
2,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",1994.0,SU,05/31/1994 09:00:00,...,6.778,0.362,3.413,3.721,2.005,NaN,NaN,NaN,NaN,NaN
3,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2010.0,WI,12/01/2009 09:00:00,...,1.312,0.769,0.805,1.561,0.551,0.059,0.286,0.023,0.057,0.233
4,ABT147,Abington,CT,Windham,41.840460,-72.010368,"Hampton, CT",2004.0,WI,12/02/2003 09:00:00,...,1.812,1.312,1.240,2.532,0.804,0.067,0.355,0.028,0.098,0.242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10900,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2008.0,SU,06/03/2008 09:00:00,...,1.056,0.414,1.283,1.677,0.460,0.180,0.151,0.045,0.100,0.020
10901,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,1996.0,WI,11/28/1995 09:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10902,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2008.0,WI,12/04/2007 09:00:00,...,0.255,0.163,0.289,0.447,0.115,0.027,0.031,0.007,0.014,0.023
10903,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2006.0,SP,02/28/2006 09:00:00,...,0.804,0.279,0.489,0.760,0.206,0.102,0.111,0.033,0.033,0.017
10904,YOS404,Yosemite NP - Turtleback Dome,CA,Mariposa,37.713251,-119.706196,NaN,2003.0,WI,12/03/2002 09:00:00,...,0.210,0.217,0.264,0.477,0.119,0.031,0.030,0.006,0.013,NaN

In [29]:
with open('pollution_seasonal_df.pickle', 'wb') as f:
    pickle.dump(sea_pol_df, f, protocol=pickle.HIGHEST_PROTOCOL)