In [1]:
import pandas as pd
import numpy as np

# Chronic Disease Indicators Dataset

In [3]:
CDI_df = pd.read_csv('U.S._Chronic_Disease_Indicators__CDI.csv')

C:\Users\Nima\AppData\Local\Temp/ipykernel_8820/127949515.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  CDI_df = pd.read_csv('U.S._Chronic_Disease_Indicators__CDI.csv')

In [6]:
CDI_df.describe()

,YearStart,YearEnd,Response,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,ResponseID,LocationID,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
count,1.185676e+06,1.185676e+06,0.0,8.045780e+05,682380.000000,682380.000000,0.0,0.0,0.0,0.0,0.0,1.185676e+06,0.0,0.0,0.0,0.0
mean,2.015103e+03,2.015643e+03,NaN,1.005325e+03,50.264623,61.873881,NaN,NaN,NaN,NaN,NaN,3.078907e+01,NaN,NaN,NaN,NaN
std,3.320259e+00,3.001197e+00,NaN,1.880433e+04,89.004848,100.104303,NaN,NaN,NaN,NaN,NaN,1.750972e+01,NaN,NaN,NaN,NaN
min,2.001000e+03,2.001000e+03,NaN,0.000000e+00,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN
25%,2.013000e+03,2.013000e+03,NaN,1.610000e+01,11.000000,16.300000,NaN,NaN,NaN,NaN,NaN,1.700000e+01,NaN,NaN,NaN,NaN
50%,2.015000e+03,2.016000e+03,NaN,4.000000e+01,28.500000,41.000000,NaN,NaN,NaN,NaN,NaN,3.000000e+01,NaN,NaN,NaN,NaN
75%,2.018000e+03,2.018000e+03,NaN,7.600000e+01,56.300000,71.100000,NaN,NaN,NaN,NaN,NaN,4.500000e+01,NaN,NaN,NaN,NaN
max,2.021000e+03,2.021000e+03,NaN,2.925456e+06,2541.600000,3530.500000,NaN,NaN,NaN,NaN,NaN,7.800000e+01,NaN,NaN,NaN,NaN

### Different Diseases

In [18]:
CDI_df.groupby(['Topic']).size().reset_index().rename(columns={0:'count'})

                                              Topic   count
0                                           Alcohol   66091
1                                         Arthritis   78300
2                                            Asthma   80342
3                                            Cancer  176339
4                            Cardiovascular Disease  157750
5                            Chronic Kidney Disease   24731
6             Chronic Obstructive Pulmonary Disease  152874
7                                          Diabetes  156808
8                                        Disability    3922
9                                      Immunization    9570
10                                    Mental Health   13200
11  Nutrition, Physical Activity, and Weight Status   75418
12                                     Older Adults   26316
13                                      Oral Health   22273
14                           Overarching Conditions   73260
15                              Reproductive Health    9086
16                                          Tobacco   59396

In [17]:
CDI_df.groupby(['Topic','Question']).size().reset_index().rename(columns={0:'count'})

       Topic                                           Question  count
0    Alcohol                            Alcohol use among youth   1760
1    Alcohol                       Alcohol use before pregnancy   2783
2    Alcohol  Amount of alcohol excise tax by beverage type ...    324
3    Alcohol  Amount of alcohol excise tax by beverage type ...    324
4    Alcohol  Amount of alcohol excise tax by beverage type ...    324
..       ...                                                ...    ...
198  Tobacco  Quit attempts in the past year among current s...   9570
199  Tobacco                            Sale of cigarette packs    330
200  Tobacco  Secondary schools that have a comprehensive to...    208
201  Tobacco  States that allow stronger local tobacco contr...    486
202  Tobacco  States with strong polices that require retail...    487

[203 rows x 3 columns]

## Year

In [21]:
CDI_df[CDI_df['YearStart'] != CDI_df['YearEnd'] ]

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
29,2008,2012,NY,New York,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,36,CAN,CAN10_2,AVGANNNMBR,GENDER,GENM,NaN,NaN,NaN,NaN
30,2009,2013,NY,New York,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,36,CAN,CAN10_2,AVGANNNMBR,GENDER,GENM,NaN,NaN,NaN,NaN
31,2011,2015,NY,New York,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,36,CAN,CAN10_2,AVGANNNMBR,GENDER,GENM,NaN,NaN,NaN,NaN
32,2012,2016,NY,New York,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,36,CAN,CAN10_2,AVGANNNMBR,GENDER,GENM,NaN,NaN,NaN,NaN
33,2012,2016,CO,Colorado,Death Certificate,Cancer,"Cancer of the prostate, mortality",NaN,NaN,Average Annual Number,...,8,CAN,CAN11_2,AVGANNNMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503868,2019,2020,DE,Delaware,NSCH,Oral Health,Dental visits among children and adolescents a...,NaN,%,Crude Prevalence,...,10,ORH,ORH1_2,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN
503883,2019,2020,LA,Louisiana,NSCH,Oral Health,Dental visits among children and adolescents a...,NaN,%,Crude Prevalence,...,22,ORH,ORH1_2,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN
503885,2017,2018,WI,Wisconsin,NSCH,Oral Health,Dental visits among children and adolescents a...,NaN,%,Crude Prevalence,...,55,ORH,ORH1_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
503886,2016,2017,NY,New York,NSCH,Oral Health,Preventive dental visits among children and ad...,NaN,%,Crude Prevalence,...,36,ORH,ORH2_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
503894,2017,2018,IL,Illinois,NSCH,Oral Health,Dental visits among children and adolescents a...,NaN,%,Crude Prevalence,...,17,ORH,ORH1_2,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN

There are some rows which their data is from for instance 2008 until 2012. So we need to have an average for these rows

In [26]:
print('Number of records with YearStart = YearEnd:',len(CDI_df[CDI_df['YearStart'] == CDI_df['YearEnd'] ].index))

Number of records with YearStart = YearEnd: 1024392

In [27]:
print('Number of records with YearStart != YearEnd:',len(CDI_df[CDI_df['YearStart'] != CDI_df['YearEnd'] ].index))

Number of records with YearStart != YearEnd: 161284

In [32]:
print('Min Year:',np.min(CDI_df['YearStart']),',',np.min(CDI_df['YearEnd']))
print('Max Year:',np.max(CDI_df['YearStart']),',',np.max(CDI_df['YearEnd']))

Min Year: 2001 , 2001
Max Year: 2021 , 2021

## States

Seems we are fine. But we must take into consideration that some rows don't have any value for the column "DataValue"

In [28]:
CDI_df.groupby(['LocationDesc']).size().reset_index().rename(columns={0:'count'})

            LocationDesc  count
0                Alabama  22058
1                 Alaska  22157
2                Arizona  22271
3               Arkansas  22384
4             California  22037
5               Colorado  22417
6            Connecticut  22082
7               Delaware  22151
8   District of Columbia  21936
9                Florida  22311
10               Georgia  21980
11                  Guam  14009
12                Hawaii  22420
13                 Idaho  21842
14              Illinois  22157
15               Indiana  21872
16                  Iowa  22510
17                Kansas  21988
18              Kentucky  22375
19             Louisiana  22053
20                 Maine  22142
21              Maryland  22346
22         Massachusetts  22349
23              Michigan  22422
24             Minnesota  22023
25           Mississippi  22100
26              Missouri  22163
27               Montana  21973
28              Nebraska  22518
29                Nevada  22241
30         New Hampshire  22104
31            New Jersey  22550
32            New Mexico  22457
33              New York  22556
34        North Carolina  22346
35          North Dakota  21970
36                  Ohio  21953
37              Oklahoma  22093
38                Oregon  22352
39          Pennsylvania  22157
40           Puerto Rico  14406
41          Rhode Island  22273
42        South Carolina  22235
43          South Dakota  22264
44             Tennessee  22052
45                 Texas  21918
46         United States  10166
47                  Utah  22352
48               Vermont  22490
49        Virgin Islands  14077
50              Virginia  22058
51            Washington  22457
52         West Virginia  22407
53             Wisconsin  22556
54               Wyoming  22140

## Issues

- Is 'DataValue' the number of people with the certain disease?
- How about 'Stratification'? If it is 'Male', does it mean that the rows are just for males?