In [1]:
import pandas as pd
import numpy as np

## Demographics and mortality

In [25]:
## more detailed dataset of demographics 2010-2019
demogr2=pd.read_csv('cc-est2019-alldata.csv',encoding='latin-1')
#demogr2=pd.read_csv('cc-est2019-alldata.csv', sep='|', names=m_cols , encoding='latin-1')
demogr2

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,54571,26569,28002,...,607,538,57,48,26,32,9,11,19,10
1,50,1,1,Alabama,Autauga County,1,1,3579,1866,1713,...,77,56,9,5,4,1,0,0,2,1
2,50,1,1,Alabama,Autauga County,1,2,3991,2001,1990,...,64,66,2,3,2,7,2,3,2,0
3,50,1,1,Alabama,Autauga County,1,3,4290,2171,2119,...,51,57,13,7,5,5,2,1,1,1
4,50,1,1,Alabama,Autauga County,1,4,4290,2213,2077,...,48,44,7,5,0,2,2,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716370,50,56,45,Wyoming,Weston County,12,14,499,280,219,...,4,5,0,0,0,0,0,0,0,0
716371,50,56,45,Wyoming,Weston County,12,15,352,180,172,...,1,2,0,0,0,0,3,0,0,0
716372,50,56,45,Wyoming,Weston County,12,16,229,107,122,...,2,0,0,0,0,0,0,0,0,0
716373,50,56,45,Wyoming,Weston County,12,17,198,82,116,...,1,1,0,0,1,0,0,0,0,0
716374,50,56,45,Wyoming,Weston County,12,18,200,72,128,...,1,2,0,0,0,0,0,0,0,0

In [3]:
mortalityus = pd.read_csv("mort.csv")
#https://www.kaggle.com/datasets/IHME/us-countylevel-mortality?select=mort.csv

In [4]:
mortalityus

,Location,FIPS,Category,"Mortality Rate, 1980*","Mortality Rate, 1980* (Min)","Mortality Rate, 1980* (Max)","Mortality Rate, 1985*","Mortality Rate, 1985* (Min)","Mortality Rate, 1985* (Max)","Mortality Rate, 1990*",...,"Mortality Rate, 2005* (Max)","Mortality Rate, 2010*","Mortality Rate, 2010* (Min)","Mortality Rate, 2010* (Max)","Mortality Rate, 2014*","Mortality Rate, 2014* (Min)","Mortality Rate, 2014* (Max)","% Change in Mortality Rate, 1980-2014","% Change in Mortality Rate, 1980-2014 (Min)","% Change in Mortality Rate, 1980-2014 (Max)"
0,United States,NaN,Neonatal disorders,9.18,8.83,9.93,6.91,6.73,7.36,6.09,...,4.55,3.75,3.43,3.85,3.32,3.02,3.45,-63.85,-68.95,-61.55
1,Alabama,1.0,Neonatal disorders,11.03,10.57,12.00,8.51,8.25,9.12,7.52,...,6.52,5.58,5.16,5.78,5.10,4.67,5.32,-53.82,-60.08,-50.77
2,"Autauga County, Alabama",1001.0,Neonatal disorders,9.58,8.37,11.02,7.50,6.56,8.58,6.76,...,6.30,4.83,4.19,5.49,4.56,3.96,5.21,-52.43,-60.01,-46.16
3,"Baldwin County, Alabama",1003.0,Neonatal disorders,8.75,7.86,9.81,6.54,5.88,7.27,5.76,...,5.03,4.02,3.53,4.48,3.68,3.25,4.08,-57.97,-64.96,-52.87
4,"Barbour County, Alabama",1005.0,Neonatal disorders,12.30,10.64,14.15,9.26,8.13,10.60,8.12,...,7.89,5.99,5.16,6.84,5.43,4.63,6.24,-55.86,-62.49,-50.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67069,"Sweetwater County, Wyoming",56037.0,Neglected tropical diseases and malaria,0.05,0.04,0.08,0.05,0.03,0.08,0.05,...,0.16,0.10,0.04,0.17,0.11,0.04,0.18,103.55,-29.23,221.47
67070,"Teton County, Wyoming",56039.0,Neglected tropical diseases and malaria,0.04,0.03,0.07,0.04,0.03,0.07,0.04,...,0.14,0.09,0.04,0.15,0.09,0.03,0.17,119.99,-30.45,255.24
67071,"Uinta County, Wyoming",56041.0,Neglected tropical diseases and malaria,0.05,0.03,0.08,0.05,0.03,0.07,0.04,...,0.15,0.09,0.03,0.16,0.09,0.03,0.18,86.83,-35.45,206.63
67072,"Washakie County, Wyoming",56043.0,Neglected tropical diseases and malaria,0.06,0.04,0.10,0.07,0.04,0.11,0.06,...,0.27,0.15,0.05,0.27,0.17,0.05,0.33,163.99,-24.16,355.89
67073,"Weston County, Wyoming",56045.0,Neglected tropical diseases and malaria,0.08,0.05,0.13,0.08,0.05,0.13,0.07,...,0.31,0.18,0.08,0.31,0.21,0.07,0.37,147.85,-17.34,302.54

In [17]:
demographicsusa=pd.read_csv('acs2015_census_tract_data.csv')
demographicsusa
#https://www.kaggle.com/datasets/muonneutrino/us-census-demographic-data
#2015

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73996,72153750501,Puerto Rico,Yauco,6205,3291,2914,99.7,0.3,0.0,0.0,...,0.9,3.3,2.3,22.5,1659,64.7,31.3,3.9,0.0,21.3
73997,72153750502,Puerto Rico,Yauco,2122,921,1201,99.2,0.3,0.0,0.0,...,0.0,0.0,0.0,23.5,484,64.0,32.6,3.3,0.0,22.4
73998,72153750503,Puerto Rico,Yauco,2277,1097,1180,99.5,0.4,0.0,0.0,...,3.2,0.0,3.0,29.8,582,58.2,32.3,9.5,0.0,23.3
73999,72153750601,Puerto Rico,Yauco,5267,2663,2604,98.8,1.2,0.0,0.0,...,0.0,0.0,0.0,26.9,1369,67.5,31.2,1.3,0.0,26.7
74000,72153750602,Puerto Rico,Yauco,2741,1181,1560,99.3,0.7,0.0,0.0,...,0.0,0.0,14.9,26.8,496,72.8,19.6,7.7,0.0,20.1

In [18]:
demographicsusa.columns

Index(['CensusTract', 'State', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [20]:
demographicsusa.loc[demographicsusa['County'] == 'Autauga', 'TotalPop'].sum()
#antagua county pop is 55k, the different rows are the cities inside it

55221

## Pollution and manufac. Plants pollution

In [30]:
manpol=pd.read_excel('emissions_by_unit_and_fuel_type_c_d_aa_10_2022.xlsx')
#the last 4 columns are important
#https://www.epa.gov/ghgreporting/data-sets

In [31]:
manpol

,Facility Id,FRS Id,Facility Name,City,State,Primary NAICS Code,Reporting Year,Industry Type (subparts),Industry Type (sectors),Unit Name,Unit Type,Unit Reporting Method,Unit Maximum Rated Heat Input (mmBTU/hr),Unit CO2 emissions (non-biogenic),Unit Methane (CH4) emissions,Unit Nitrous Oxide (N2O) emissions,Unit Biogenic CO2 emissions (metric tons)
0,1012147,NaN,17Z Gas Plant - Chevron USA Inc.,McKittrick,CA,211130,2018,"C,NN,W","Natural Gas and Natural Gas Liquids Suppliers,...",CP-03.00,OCS (Other combustion source),Tier1/2/3,30.0,3304.7,1.50,1.788,0.0
1,1012147,NaN,17Z Gas Plant - Chevron USA Inc.,McKittrick,CA,211130,2018,"C,NN,W","Natural Gas and Natural Gas Liquids Suppliers,...",CP-03.01,OCS (Other combustion source),Tier1/2/3,30.0,0.2,0.00,0.000,0.0
2,1012147,NaN,17Z Gas Plant - Chevron USA Inc.,McKittrick,CA,211130,2018,"C,NN,W","Natural Gas and Natural Gas Liquids Suppliers,...",CP-03.02,OCS (Other combustion source),Tier1/2/3,30.0,175.0,0.00,0.000,0.0
3,1012147,NaN,17Z Gas Plant - Chevron USA Inc.,McKittrick,CA,211130,2017,"C,NN,W","Natural Gas and Natural Gas Liquids Suppliers,...",CP-03.00,OCS (Other combustion source),Tier1/2/3,30.0,9106.1,4.25,5.066,0.0
4,1012147,NaN,17Z Gas Plant - Chevron USA Inc.,McKittrick,CA,211112,2016,"C,NN,W","Natural Gas and Natural Gas Liquids Suppliers,...",CP-03.00,OCS (Other combustion source),Tier1/2/3,30.0,9922.2,4.75,5.662,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229848,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2015,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,32.0,33757.8,16.00,19.072,0.0
229849,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2014,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,32.0,32901.2,15.50,18.476,0.0
229850,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2013,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,32.0,42700.7,20.25,24.138,0.0
229851,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2012,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,32.0,46840.7,22.00,26.224,0.0
229852,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2011,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,32.0,53482.2,25.25,30.098,0.0

In [16]:
pol=pd.read_csv("pollution_us_2000_2016.csv")
pol
#https://www.kaggle.com/datasets/sogun3/uspollution
# four major pollutants (Nitrogen Dioxide, Sulphur Dioxide, Carbon Monoxide and Ozone) for every day from 2000 - 2016

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,24599,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,24600,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,24602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,24603,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0